---
import { Nav, Navbar, type NavItemType } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';

import ProjectsDropdown from './ProjectsDropdown.astro';

---

<Nav class='d-flex justify-content-evenly'>
    <Nav.Item text='Home' href='/' />
    <Nav.Item>
        <ProjectsDropdown />
    </Nav.Item>
    <Nav.Item text='Shelter' href='https://protectoravillena.com/' />
</Nav>