---
import { Nav, Navbar, type NavItemType } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';

import ProjectsDropdown from './ProjectsDropdown.astro';

---

<style>
    :global(.nav-item > *){
        color: black;
    }
    :global(.nav-item > *:hover){
        border-radius: 10px;
        border: 1px solid black;
        background-color:  darkblue;
    }
    :global(.nav-item > a:hover){
        color: lightblue;
    }
</style>

<Nav class='d-flex justify-content-evenly align-items-center p-1'>
    <Nav.Item text='Home' href='/home' class="" />
    <Nav.Item>
        <ProjectsDropdown />
    </Nav.Item>
    <Nav.Item text='Shelter' href='https://protectoravillena.com/' />
</Nav>
