---
import { Nav, Navbar, type NavItemType } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';

import ProjectsDropdown from './ProjectsDropdown.astro';

---

<style>
    a{
        background-color: yellow;
    }
</style>

<Nav class='d-flex justify-content-evenly'>
    <div>
        <Nav.Item text='Home' href='https://protectoravillena.com/' />
    </div>
        <Nav.Item>
            <ProjectsDropdown />
        </Nav.Item>
        <Nav.Item text='Shelter' href='https://protectoravillena.com/' />
    </Nav>
