---
import { Dropdown, Button } from 'astro-bootstrap';
import type { DropdownItemType } from 'astro-bootstrap';

import projects from "/src/JSON/projects.json";

const items = projects.map(project => {
  return {
    href: project.short || project.name,
    text: project.name
  }
})

---

<style>
  :global(button){
    padding: 0px;
    margin: 0px;
  }
</style>

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownProjectsButton" data-bs-toggle="dropdown" aria-expanded="false">
    Projects
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownProjectsButton">
    {
      items.map((item) => (
        <li><a class="dropdown-item" href={"/webpage/"+item.href.toLowerCase()}>{item.text}</a></li>
      ))
    }
</div>

<style>
  .btn:hover{
    background-color: darkblue;
    color: lightblue;

  }
</style>
