---
import { Dropdown, Button } from 'astro-bootstrap';
import type { DropdownItemType } from 'astro-bootstrap';

import projects from "../../../public/JSON/projects.json";

const items = projects.map(project => {
  return {
    href: project.short || project.name,
    text: project.name
  }
})

---

<style>
  :global(button){
    padding: 0px;
    margin: 0px;
  }
</style>


<Dropdown>
  <Button variant='' dropdown>Projects</Button>
  <Dropdown.Menu>
    {
      items.map((item) => (
        <Dropdown.Item href={"/"+item.href.toLowerCase()}>{item.text}</Dropdown.Item>
      ))
    }
  </Dropdown.Menu>
</Dropdown>