---
import HeaderBar from "./navbar/headerBar.astro"

---



<!-- <header class="d-flex flex-column justify-content-center pt-2 mb-2 w-100" style={{backgroundColor :"rgb(161, 205, 255)"}}> -->
<header class="d-flex flex-column justify-content-center pt-2 mb-2 w-100 bg-primary">
  <div class="text-center py-2 mt-5">
    <h1>Kingsley Shyne Mattis Sogorb</h1>
  </div>
  <div class="text-center">
    <h2>Video Game Programmer</h2>
  </div>
    <div class="text-center">
      <HeaderBar>
      </HeaderBar>
  </div>
</header>
